#scroll_block{
	width:100%;
}
#scroll_block .block,
#scroll_block .block2{
	float:left;
	margin:15px;
	height:auto;
	display: inline;
}
#scroll_block .block2{
	width:100%;
}
.title{
	position:relative;
	padding-bottom:15px;
	border-bottom: 1px solid #DCDCDC;
	margin:0px 0px 2% 0px;
}
.title:after{
	content: "";
	position: absolute;
	bottom:-1px;
	left:0;
	width:50px;
	border-bottom: 1px solid #444444;
}
#title{
    font-family: 'Pathway Gothic One', sans-serif;
	font-size:40px;
}

#subtitle{
	display: inline-block;
	font-size:25px;
	font-family: 'Ropa Sans', sans-serif;
}

@media (min-width: 0px) {
	#scroll_block .block{
		width:100%;
	}
}

@media (min-width: 1000px) {
	#scroll_block .block{
		width:calc(50% - 30px);
	}
}

.block{
	height:auto;
}

ul{
    padding:0;
    margin:0;
}
li{
	list-style-type: none;
}
p{
	font-family: 'Assistant', sans-serif;
	font-size:16px;
	line-height:24px;
}

